archive/n8n_deprecated/plaud_workflow_new_v3.json
{
    "name": "Plaud Gmail to Drive (V3 - Explicit Data)",
    "active": false,
    "nodes": [
        {
            "parameters": {
                "pollTimes": {
                    "item": [
                        {
                            "mode": "everyMinute"
                        }
                    ]
                },
                "simple": false,
                "filters": {
                    "sender": "no-reply@plaud.ai",
                    "subject": "[PLAUD-AutoFlow]"
                },
                "downloadAttachments": true
            },
            "id": "ba07d064-6a85-4604-9e0e-2d2066dddf39",
            "name": "Gmail Trigger",
            "type": "n8n-nodes-base.gmailTrigger",
            "typeVersion": 1,
            "position": [
                460,
                300
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "AVbl1VG4EuUYSNnR",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "\nconst results = [];\nfor (const item of items) {\n  const json = item.json;\n  const snippet = json.snippet || '';\n  const textAsHtml = json.textAsHtml || json.body || ''; \n  const subject = json.subject || 'No Subject';\n  const date = json.date || new Date().toISOString(); \n  \n  // 1. Create Binary for HTML Body\n  const binaryData = Buffer.from(textAsHtml).toString('base64');\n  \n  // 2. Prepare Binary Object\n  // We use 'data' as the key because Drive node seems stubborn matching default\n  // Gmail attachments typically come as 'attachment_0', 'attachment_1' etc.\n  // So 'data' should be safe to claim.\n  const newBinary = item.binary ? { ...item.binary } : {};\n  \n  newBinary['data'] = {\n    data: binaryData,\n    mimeType: 'text/html',\n    fileName: 'email_body.html'\n  };\n\n  results.push({\n    json: {\n      subject,\n      date,\n      textAsHtml, \n      snippet\n    },\n    binary: newBinary\n  });\n}\nreturn results;\n"
            },
            "id": "6cee6635-6973-49c7-8e8f-622f30dcd46b",
            "name": "Normalize Data & Binary",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "operation": "upload",
                "fileSelector": "binary",
                "binaryPropertyName": "data",
                "parentId": {
                    "__rl": true,
                    "value": "16N14A_m847eSortz8hxbfhrk0YyvtouD",
                    "mode": "id"
                },
                "name": "={{ $json.date }} {{ $json.subject.replace(/[^a-zA-Z0-9 ]/g, '') }}-Email.html",
                "options": {}
            },
            "id": "8601a06d-39fb-4b8c-b4db-b895fbe2b24e",
            "name": "Save Email HTML",
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                900,
                200
            ],
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "G8O3ahUTehXWQ76O",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "\nconst results = [];\nif (items[0].binary) {\n    for (const key of Object.keys(items[0].binary)) {\n        // Skip our artificial 'data' key (the HTML file)\n        if (key === 'data') continue;\n        \n        results.push({\n            json: items[0].json,\n            binary: {\n                data: items[0].binary[key]\n            }\n        });\n    }\n}\nreturn results;\n"
            },
            "id": "e4a0fe3f-9269-44cf-aab0-27675451ae40",
            "name": "Split Attachments",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                900,
                500
            ]
        },
        {
            "parameters": {
                "operation": "upload",
                "fileSelector": "binary",
                "binaryPropertyName": "data",
                "parentId": {
                    "__rl": true,
                    "value": "16N14A_m847eSortz8hxbfhrk0YyvtouD",
                    "mode": "id"
                },
                "name": "={{ $json.date }} {{ $json.subject.replace(/[^a-zA-Z0-9 ]/g, '') }}-{{ $binary.data.fileName }}",
                "options": {}
            },
            "id": "f93ef0cc-fb61-4f82-94ac-8d184b8e9172",
            "name": "Save Attachments",
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                1120,
                500
            ],
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "G8O3ahUTehXWQ76O",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "operation": "delete",
                "messageId": "={{ $('Gmail Trigger').item.json.id }}"
            },
            "id": "a5630c66-82bd-4171-99b0-231227b22a1a",
            "name": "Archive Email",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2,
            "position": [
                1340,
                350
            ],
            "disabled": true,
            "credentials": {
                "gmailOAuth2": {
                    "id": "AVbl1VG4EuUYSNnR",
                    "name": "Gmail account"
                }
            }
        }
    ],
    "connections": {
        "Gmail Trigger": {
            "main": [
                [
                    {
                        "node": "Normalize Data & Binary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Data & Binary": {
            "main": [
                [
                    {
                        "node": "Save Email HTML",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Split Attachments",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Email HTML": {
            "main": [
                [
                    {
                        "node": "Archive Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Attachments": {
            "main": [
                [
                    {
                        "node": "Save Attachments",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Attachments": {
            "main": [
                [
                    {
                        "node": "Archive Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {},
    "versionId": "70c9288e-eb13-4806-a3ac-88e42f2cffae"
}