archive/n8n_deprecated/plaud_workflow_new_v1.json
{
    "name": "Plaud Gmail to Drive (New Architecture)",
    "active": false,
    "nodes": [
        {
            "parameters": {
                "pollTimes": {
                    "item": [
                        {
                            "mode": "everyMinute"
                        }
                    ]
                },
                "simple": false,
                "filters": {
                    "sender": "no-reply@plaud.ai",
                    "subject": "[PLAUD-AutoFlow]"
                },
                "downloadAttachments": true
            },
            "id": "13b0ccef-cffc-4709-a7f4-b796bbbe92a3",
            "name": "Gmail Trigger",
            "type": "n8n-nodes-base.gmailTrigger",
            "typeVersion": 1,
            "position": [
                460,
                300
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "AVbl1VG4EuUYSNnR",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "\nconst results = [];\nfor (const item of items) {\n  const json = item.json;\n  const snippet = json.snippet || '';\n  const textAsHtml = json.textAsHtml || json.body || ''; // fallback\n  const subject = json.subject || 'No Subject';\n  const date = json.date || new Date().toISOString(); \n  \n  results.push({\n    json: {\n      subject,\n      date,\n      textAsHtml,\n      snippet\n    },\n    binary: item.binary // Pass through attachments\n  });\n}\nreturn results;\n"
            },
            "id": "f5a0ded5-5bff-4ed1-baf1-00435df4661d",
            "name": "Normalize Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "operation": "upload",
                "fileSelector": "fileContent",
                "fileContent": "={{ $json.textAsHtml }}",
                "parentId": {
                    "__rl": true,
                    "value": "16N14A_m847eSortz8hxbfhrk0YyvtouD",
                    "mode": "id"
                },
                "name": "={{ $now.toFormat('yyyy-MM-dd-HH:mm') }} {{ $json.subject.replace(/[^a-zA-Z0-9 ]/g, '') }}-Email.html",
                "options": {}
            },
            "id": "c10b7e3c-4b0f-467e-b1be-2e6dc8fed9fd",
            "name": "Save Email HTML",
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                900,
                200
            ],
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "G8O3ahUTehXWQ76O",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "\nconst results = [];\nif (items[0].binary) {\n    for (const key of Object.keys(items[0].binary)) {\n        results.push({\n            json: items[0].json,\n            binary: {\n                data: items[0].binary[key]\n            }\n        });\n    }\n}\nreturn results;\n"
            },
            "id": "523721f2-bf13-41ab-bc81-b115dd07886d",
            "name": "Split Attachments",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                900,
                500
            ]
        },
        {
            "parameters": {
                "operation": "upload",
                "fileSelector": "binary",
                "binaryPropertyName": "data",
                "parentId": {
                    "__rl": true,
                    "value": "16N14A_m847eSortz8hxbfhrk0YyvtouD",
                    "mode": "id"
                },
                "name": "={{ $now.toFormat('yyyy-MM-dd-HH:mm') }} {{ $json.subject.replace(/[^a-zA-Z0-9 ]/g, '') }}-{{ $binary.data.fileName }}",
                "options": {}
            },
            "id": "7f199fe7-2a6f-4eac-a0b0-3e7ad635e7c4",
            "name": "Save Attachments",
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                1120,
                500
            ],
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "G8O3ahUTehXWQ76O",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "operation": "delete",
                "messageId": "={{ $('Gmail Trigger').item.json.id }}"
            },
            "id": "c3398329-0ce7-42df-8a6a-5752b55bf1b2",
            "name": "Archive Email",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2,
            "position": [
                1340,
                350
            ],
            "disabled": true,
            "credentials": {
                "gmailOAuth2": {
                    "id": "AVbl1VG4EuUYSNnR",
                    "name": "Gmail account"
                }
            }
        }
    ],
    "connections": {
        "Gmail Trigger": {
            "main": [
                [
                    {
                        "node": "Normalize Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Data": {
            "main": [
                [
                    {
                        "node": "Save Email HTML",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Split Attachments",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Email HTML": {
            "main": [
                [
                    {
                        "node": "Archive Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Attachments": {
            "main": [
                [
                    {
                        "node": "Save Attachments",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Attachments": {
            "main": [
                [
                    {
                        "node": "Archive Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {},
    "versionId": "05d9453b-b100-4459-886f-d83456e9cef6"
}